#success-message{
    background: rgb(194, 153, 153);
    color: black;
    padding: 10px;
    margin: 10px;
    display: none;
    position:absolute;
    right: 15px;
    top: 15px;
}

#error-message{
    background: red;
    color: black;
    padding: 10px;
    margin: 10px;
    display: none;
    position:absolute;
    right: 15px;
    top: 30px;
}

.delete-btn{
    background: red;
    color: white;
    padding: 4px 10px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

.edit-btn{
    background: rgb(113, 154, 187);
    color: rgb(145, 64, 64);
    padding: 4px 10px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

#modal{
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}

#modal-form{
    background: white;
    width: 30%;
    position: relative;
    top: 20%;
    left: calc(50% - 15%);
    padding: 15px;
    border-radius: 4px;
}

#modal-form h2{
    margin: 0 0 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid#000;
}

#close-btn{
    background: red;
    color: white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
}