#success-message{
    background: rgb(194, 153, 153);
    color: black;
    padding: 10px;
    margin: 10px;
    display: none;
    position:absolute;
    right: 15px;
    top: 15px;
}

#error-message{
    background: red;
    color: black;
    padding: 10px;
    margin: 10px;
    display: none;
    position:absolute;
    right: 15px;
    top: 30px;
}
